#wrapper {
                  display: -webkit-box;
                  display: -moz-box;
                  display: -ms-flexbox;
                  display: -webkit-flex;
                  display: flex; 
                  
                  -webkit-flex-flow: row wrap;
                  flex-flow: row wrap;
            }
            
            
            #wrapper > * {
                flex: 1 100%;
            }
            
            @media all and (max-width: 554px) {
                #image-region { 
                    flex: 1 auto;
                    /* text-align: center; */
                    
                }
                #name { font-size: 200%; 
                font-family: 'Raleway';}
                /* #designation { font-size: 10px;} */
            }
                    
            @media all and (min-width: 554px) {
                #root    { flex: 25 0px; }
                #image-region { 
                    flex: 1 auto;
                    order: 1; 
                } 
                #root   { order: 2; }
                #name {
                font-size: 200%;
                font-family: 'Raleway';
                }
                /* #designation {
                font-size: 25px;
                } */
            }
            
            @font-face {
                font-family: 'Raleway';
                src: url('Raleway-Light.ttf');
            }

            @font-face {
                font-family: 'Spectral';
                src: url('Spectral-Regular.ttf');
            }
            
            
            
            #bold_part {
                font-weight: bold;
                color: rgb(179, 131, 55);;
            }
            
            
            body {
                margin-left: 30px;
                margin-right: 50px;
                background: white;
                font-family: 'Spectral', serif;
                color: rgb(26, 47, 76);
                font-size: 18px;

            }
            
            #image-region {
                margin: 25px;
            }
            
	     #main-im {
          /* border-radius: 100%;	 */
          box-shadow: 0 1px 2px rgba(0,0,0,.075);
          border: 1px solid #ddd;
          border-radius: 4px;
	     }
            #image-region a {
                text-decoration: none;
                color: rgb(179, 131, 55);
            }
            
            #contact {
                margin: 25px 25px 0px 5px;
                font-family: 'Spectral';
                font-size: 18px;
            }
            
            #logos {
                display: flex;
            }
            #logos > div {
                flex: 1;
            }
            #fb {
                cursor: pointer;
                margin: 15px 15px 15px 0px;
                background: url('images/fb_grey_resize.png') no-repeat;
                width: 36px;
                height: 36px;
                -webkit-transition: background 0.5s ease ;
                -moz-transition: background 0.5s ease ;
                -o-transition: background 0.5s ease ;
                transition: background 0.5s ease ;
                
            }
            #fb:hover {
                background: url(images/fb_gold_resize.png) no-repeat;
                transition: background 0.2s ease;
            }
            
            #github {
                cursor: pointer;
                margin: 15px 15px 15px 0px;
                background: url('images/github_grey.png') no-repeat;
                width: 36px;
                height: 36px;
                -webkit-transition: background 0.5s ease ;
                -moz-transition: background 0.5s ease ;
                -o-transition: background 0.5s ease ;
                transition: background 0.5s ease ;
                
            }
            #github:hover {
                background: url(images/github_gold.png) no-repeat;
                transition: background 0.2s ease;
            }
            
            #linkin {
                cursor: pointer;
                margin: 15px 15px 15px 0px;
                background: url('images/linkin_grey.png') no-repeat;
                width: 36px;
                height: 36px;
                -webkit-transition: background 0.5s ease ;
                -moz-transition: background 0.5s ease ;
                -o-transition: background 0.5s ease ;
                transition: background 0.5s ease ;
                
            }
            #linkin:hover {
                background: url(images/linkin_gold.png) no-repeat;
                transition: background 0.2s ease;
            }
            
            #root {
                margin: 25px 100px 0px 5px;
            }
	     #root a {
		  text-decoration: none;	
	     }
