{% extends "layouts/base.njk" %}

{% block header %}
  {% include "partials/nav.njk" %}
{% endblock %}

{% block footer %}
  <footer class="site-footer">
    <p>© {{ site.currentYear }} Surya Bulusu. </p>
  </footer>
{% endblock %}
