---
permalink: /feed.xml
layout: null
eleventyExcludeFromCollections: true
---
{%- set feedItems = collections.combinedPosts -%}
{%- set latestItem = feedItems | first -%}
{%- if latestItem and latestItem.date -%}
  {%- set latestDateRss = latestItem.date | dateToRfc822 -%}
{%- else -%}
  {%- set latestDateRss = '' -%}
{%- endif -%}
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/">
  <channel>
    <title>{{ site.title }}</title>
    <link>{{ site.url }}</link>
    <description>{{ site.description }}</description>
    <language>en</language>
    <lastBuildDate>{{ latestDateRss }}</lastBuildDate>
    <atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml" />
    {% for post in feedItems %}
      {% set absoluteLink = post.url | absoluteUrl(site.url) %}
      <item>
        <title>{{ post.title }}</title>
        <link>{{ absoluteLink }}</link>
        <guid>{{ absoluteLink }}</guid>
        <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
        <description>{{ post.description }}</description>
      </item>
    {% endfor %}
  </channel>
</rss>
